/* ///////////////////////////////////////////////////// */
/*                    create.js   CSS                    */
/* ///////////////////////////////////////////////////// */
* {
  max-width: 1920px;
  /* overflow-x: hidden; */
}

.Create-text {
  font-size: 18px;
  font-weight: bold;
  margin: 17px;
  margin-left: 47px;
}

/* .Create-Line {
    width: 1020px;
    margin-left: 0px;
    margin-top: 27px;
    color: #5e5e5e;
  }
   */

.Create-Panel {
  max-width: 1020px;
  /* margin:auto; */
  margin-top: 207px;
  margin-left: 200px;

  margin: auto;
  width: 100%;
  /* border: 3px solid green; */
  padding: 10px;
  margin-bottom: 20px;

}

img {
  max-width: 100%;
}


.Create {
  /* margin-top: 114px;
    margin-right: 140px; */
  /* border: solid 0.5px rgb(182, 182, 182); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  height: 411px;
  margin-top: 207px;
  margin-left: 200px;
}


.input_text {
  opacity: 80%;
  /* margin-top: 6px; */
  object-fit: cover;
}

TEXTAREA {
  border: solid 0.5px #5e5e5e;
  font-size: 30px;
}

.input_file {
  width: 402px;
  height: 411px;
  border: solid 0.5px #5e5e5e;
  /* margin: auto; */
  /* width: 100%; */
  object-fit: cover;
}

.uploader {

  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: end;

}

.create-button {

  /* margin-top: 10px; */
  width: 250px;
  height: 64px;
  border: solid 1px white;
  border-radius: 10px;
  background-color: #0f74f9;
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-left: 500px;
  /* margin-bottom: 200px; */


}