
.header{
    font-size: 28px;
    font-family: 'Roboto';
    font-weight: bold;
    margin-top : 36px;
    margin-bottom: 36px;
}
.Info-header-greeting{
    font-size: 28px;
    font-family: 'Roboto';
    font-weight: bold;
    margin-bottom: 20px;
}



.Info-text{
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: regular;
}

.Mypage{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(var(--b3f,250,250,250),1);
}

.mypage-wrapper{
    display: flex;
    flex-direction: row;
    height : 380px;
    width : 900px;
    border: 1px solid #dfdfdf;
    background-color: white;
}



.mypage-left-wrapper{
    display: flex;
    flex-direction: column;
    border-right: 1px solid #dfdfdf;
}

.Info,
.mypage-right-innerwapper{
    display: flex;
    flex-direction: column;
    margin : 50px;
    height : 300px;
}



.profile-img-wrapper{
}


.profile-img{
    /* margin: 50px; */
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 46px;
    margin-left: 44px;
    margin-right: 95px;
    
}

.mypage-btn-wrapper{
    display : flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    width: 500px;
    justify-content : space-around;
}

.profile-left-down-wrapper
{
    display : flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
    width: 300px;
    justify-content : space-evenly;
}


.Info-header-wrapper{
    display : flex;
    flex-direction: column;
    height: 300px;
    width: 540 px;
    justify-content : space-evenly;
    margin-bottom: 10px;
    align-items: center;
}

.Info-content-wrapper{
    /* margin-right : 100px; */
}

.peto{
    font-size: 28px;
    font-family: 'Roboto';
    font-weight: bold;
}



.Info{
    width : 600px;
    height : 300px;
}

.button{
    width: 200px;
}

.MynftList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width : 960px;
    /* border: 1px solid #dfdfdf; */
}

.post-img{
    margin: 10px;
    height: 300px;
    width: 300px;
    border: 1px solid #dfdfdf;
    background-color: #ebebeb;
}

.input-box{
    width: 70%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
}

.upadate-form {
    display: flex;
    flex-direction: row;
}

.input-table {
    display: flex;
    flex-direction: column;
}

.PostDetail-container{
    display: flex;
    flex-direction: column;

}

.posting-top-wrapper{
    display: flex;
    flex-direction: row;
    height: 393px;
}

.posting-description{
    margin: 10px 30px;
    height: 200px;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Roboto';   
}