.Search{
    margin-top: 100px;
    margin-left: 100px;
}

.search-component{
    
    /* margin-left: auto; 
    margin-right: auto; */

    margin-left: 570px;
    margin-right: 480px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}

.search-image{
    height: 54px;
    width : 54px;
    border-radius: 50%;
}

.search-username{
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom : 0px;
    margin-top: -1px;
}

.search-greeting{
    margin-top: 0px;
    font-size: 16px;
}

.search-follow-btn{
    width: 100px;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 162, 255);
    opacity: 0.5;
    margin-top : 12px;
    margin-left: 100px;
}

.search-text-wrapper{
    display: flex;
    flex-direction: column;
    height : 100%;
    margin-left: 40px;
    width : 150px
}